# TP2: Regression logistique

## 1. Recuperation des données
Les données sont stocker dans le fichier banking.csv. Ce dataset contient des information collecter par un centre d'appel pour savoir si un client souscrira (1/0) à un dépôt à terme (variable y) dans une baque.

1-Recuperer les données de ce fichier dans un DataFrame data

2-Afficher les 10 premiere ligne de ce dataframe

3-Afficher le nombre de client par class (1/0)

In [1]:
# -- Importation 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
data = pd.read_csv('banking.csv')
data.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30,management,divorced,basic.4y,no,yes,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37,blue-collar,married,basic.4y,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39,blue-collar,divorced,basic.9y,no,yes,no,cellular,may,fri,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36,admin.,married,university.degree,no,no,no,cellular,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27,blue-collar,single,basic.4y,no,yes,no,cellular,apr,thu,...,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0

In [26]:

notRegester, Regester = data['y'].value_counts()
print(f"Number of client regesters is : {Regester}")
print(f"Number of client not regesters is : {notRegester}")

Number of client regesters is : 4640
Number of client not regesters is : 36548

### 2- Entrainement et test du modèle
Dans un premier lieux, nous allons utiliser comme critères de classifiction suivants:
"age": l'age du client
"emp_var_rate": employment variation rate
"cons_conf_idx": consumer confidence index

1- Creer deux numpy array X et y

X: les trois colonne "age","emp_var_rate" et "cons_conf_idx"

y: "y"

2- Nous allons utiliser **80%** du dataSet pour l'entrainement et **20%** pour le teste du modèle. utiliser la méthode **train_test_split()** du module **sklearn.model_selection** pour créer ces deux sous ensembles (X_train,X_test,y_train,y_test).

3- Creer un objet **LogisticRegression** du module **sklearn.linear_model** et utiliser **(X_train,y_train)** pour entrainer le model à l'aide la méthode **fit()** du même objet.

4- Utiliser la méthode **predict(X_test)** pour predire les classe des élément de X_test : y_pred

5- Les performences du modele sont alors mesurer à l'aide 4 metriques:
**TP: Nombre de True positives y_test==y_pred==1**

**TN: Nombre de True negatives y_test==y_pred==0**

**FP: Nombre de False positives y_test!=y_pred==1**

**FN: Nombre de False negatives y_test!=y_pred==0**


**$$Accuracy = (TP+TN)/(TP+TN+FP+FN) $$**

Calculer la precision de ce modèle?

6- Ces 4 metriques forment ce qu'on appel une **Confusion Matrix** disponible comme méthode dans le module **sklearn.metrics** :  **Confusion Matrix(y_test, y_pred)**

Recalculer precision de ce modèle on utilisant cette matrice de confusion

In [27]:
# Q1 : Save data in variables
x = np.array(data[["age", "emp_var_rate", "cons_conf_idx"]])
y = np.array(data.y)

In [28]:
# Q2 : Training set  &  Testing set
x_train, x_test, y_traing, y_test = train_test_split(x, y, test_size = 0.2, train_size = 0.8)

In [29]:
lr = LogisticRegression()

In [30]:
lr.fit(x_train, y_traing)

LogisticRegression()

In [31]:
print(lr.coef_)
print(lr.intercept_)

[[ 0.00367193 -0.55317341  0.0351239 ]]
[-1.04341406]

In [32]:
y_pred = lr.predict(x_test)

In [33]:
TP, TN, FP, FN, iterations = 0, 0, 0, 0, y_pred.shape[0]

for e in range(iterations) :
    if y_test[e] == y_pred[e] == 1 :
        TP = TP + 1
    if y_test[e] == y_pred[e] == 0 :
        TN = TN + 1
    if y_test[e] != y_pred[e] and y_pred[e] == 1 :
        FP = FP + 1
    if y_test[e] != y_pred[e] and y_pred[e] == 0 :
        FN = FN + 1
    
acc = (TP + TN) / (TP + TN + FP + FN)

print("The accuracy of my model is : ", round(acc, 2) * 100, "%")

The accuracy of my model is :  88.0 %

### 3- prediction
Voici des information de trois clients:

client1:  {"age": 55, "emp_var_rate": -2.9, "cons_conf_idx": 31.4}

client2:  {"age": 45, "emp_var_rate": 3.7,"cons_conf_idx": 4}

client3:  {"age": 39, "emp_var_rate": 3.3,"cons_conf_idx": 6}

1- Créer un DataFrame à partir de ce données

2- Lequel de ces client souscrira à un dépôt à terme

In [36]:
donnees = {
    "age" : [55, 45, 39],
    "emp_var_rate" : [-2.9, 3.7, 3.3],
    "cons_conf_idx" : [31.4, 4, 6]
}

df = pd.DataFrame(donnees,columns=['age',  'emp_var_rate',  'cons_conf_idx'])
df

   age  emp_var_rate  cons_conf_idx
0   55          -2.9           31.4
1   45           3.7            4.0
2   39           3.3            6.0

In [62]:
P = np.array(df[["age", "emp_var_rate", "cons_conf_idx"]])
P

array([[55. , -2.9, 31.4],
       [45. ,  3.7,  4. ],
       [39. ,  3.3,  6. ]])

In [67]:
prediction =  lr.predict(P)
prediction

array([1, 0, 0], dtype=int64)

In [54]:
prediction = lr.predict(P)
for pred in range(prediction.shape[0]) : 
    if prediction[pred] == 1:
        print(f"Le client {pred} souscrira à un dépôt à terme")

Le client 0 souscrira à un dépôt à terme